.idea/
__pycache__
*.pyc
multiverse/
durante_etal_2013_study2.txt
MTurk_ratings_femeninity_of_hurricanes.csv
data_updated.csv
multiverse_analysis.R
amk-notes.txt
venv/
env/
prototype/

# example
example/sampling

# packaging
*.egg-info/
build/
dist/

.tox/
